body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.boxButton{
  width: 101px;
  height: 50px;
  border: 0;
  background-color: #ff000000;
  cursor: pointer;
}

.counterLabel{
  position: absolute;
  font-size: 63px;
  text-align: center;
  top: -60px;
  color: white;
  background: red;
  width: 101px;
  height: 101px;
  z-index: -1;
}